.DS_STORE
node_modules
dist
build
coverage
*.log
.env
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*.tmp
*.pid
*.seed
*.pid.lock
*.log
*.gz
*.zip
*.tar
*.7z
.ipynb_checkpoints
__pycache__
*.pyc
*.pyo
*.pyd
